{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrahead %}
<link rel="icon" href="{{STATIC_URL}}/static/admin/img/favicon.ico" sizes="48x48" />
{% endblock %}

{% block branding %}
<h1 id="site-name">
<a href="https://your_site" style="font-size:90%">Your_Team</a>

<img src="{% static 'your_logo.png' %}" style="height:25px;width:57px;" height="25" width="57" />&nbsp;
<a href="{% url 'admin:index' %}" style="">Your_Project</a>
</h1>
<!--<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>-->
{% endblock %}

{% block nav-global %}{% endblock %}

