{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}
    {{ block.super }} 
    <script src="{% static 'aspic2.js' %}"></script>
    <script>
        instance_product_id= {{ adminform.form.instance.product.id }}
        django.jQuery(document).ready(function ($) {
            init_product()
        });

        django.jQuery(document).ready(function ($) {
            $(document).on('submit', '#demand_form', function (event) {
                console.log('id_quantity value '+ document.getElementById('id_quantity').value) 
                if(parseFloat(document.getElementById('id_uprice').value)<=0) {
                    alert('Unit price must be superior to 0')
                    event.preventDefault()
                    return false  
                }
                if(parseInt(document.getElementById('id_quantity').value)<1) {
                    alert('Quantity must be superior to 0')
                    event.preventDefault()
                    return false  
                }
            }); 
        });
    </script>
{% endblock %} 

