{% extends "admin/change_list.html" %}

{% load i18n admin_urls static admin_list %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    django.jQuery(document).ready(function ($) {
        //console.log('document ready');
        command_number= '';
        background_color= '#ffffff';
        //ok $( "#result_list td" ).each(function() {
        var url_string = window.location.href
        var url = new URL(url_string);
        var sort_option = url.searchParams.get("o");
        var group_column= '';
        if (!sort_option) $( "#result_list tr" ).each(function( row, tr) {
            //console.log('cn row');
            if (row==0) $(this).find('th').each (function( column, th) {
                //console.log('row 0 th column : '+column+' text : -'+$(th).text()+'-');
                th_text=$(th).text(); 
                if (th_text.indexOf('Num order')!=-1) { group_column= parseInt(column)-1; /*console.log('gggg');*/ }
            });  
            $(this).find('td').each (function( column, td) {
               if (column==group_column) {
                   if (command_number=='') {
                       command_number= $(td).text();
                       //console.log('cn init:'+command_number);
                   }
                   if (command_number!=$(td).text()) {
                       command_number= $(td).text();
                       if (background_color=='#ffffff') background_color= '#eeeeee'; else background_color= '#ffffff';
                       //console.log('cn changed:'+command_number);
                   }
               }
            });  
            $(this).children('td, th').css('background-color', background_color);
        }); 
    });
//https://stackoverflow.com/questions/4996521/jquery-selecting-each-td-in-a-tr
</script>
{% endblock %}

{% block search %}
{% search_form cl %}
<script>django.jQuery('#searchbar').attr("placeholder","Search in demandeur, numero_bon_commande or CAS");</script>
{% endblock %}

