{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}
    {{ block.super }} 
    <!--  use the same as container ? -->
    <script src="{% static 'aspic2.js' %}"></script>
    <script src="{% static 'JsBarcode.all.min.js' %}"></script>
    <script>
        instance_product_id= {{ adminform.form.instance.product.id }}
        django.jQuery(document).ready(function ($) {
            init_product()
            code= {{ adminform.form.instance.code }}
            JsBarcode("#barcode_container", code, {
                format: "CODE39", height: 50, fontSize: 13//, displayValue: false
              });
            django.jQuery("input#id_code").prop("readonly", true);
        });
    </script>
{% endblock %} 

