{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}
    {{ block.super }} 
    <script src="{% static 'JsBarcode.all.min.js' %}"></script>
    <script>
        if ("{{ adminform.form.instance.code }}"!="") {
            django.jQuery(document).ready(function ($) {
                JsBarcode("#barcode_place", "{{ adminform.form.instance.code }}", {
                  format: "CODE39", height: 50, fontSize: 13 
                });
            });
        }
    </script>
{% endblock %} 

