{% extends 'admin/change_form.html' %}

{% block extrahead %}
    {{ block.super }} 
    <style>
      #id_Hazard_statement { width: 40em; }
    </style>
    <script>
        GHS0= []
        GHS0[1]= '{{ adminform.form.instance.GHS01 }}'
        GHS0[2]= '{{ adminform.form.instance.GHS02 }}'
        GHS0[3]= '{{ adminform.form.instance.GHS03 }}'
        GHS0[4]= '{{ adminform.form.instance.GHS04 }}'
        GHS0[5]= '{{ adminform.form.instance.GHS05 }}'
        GHS0[6]= '{{ adminform.form.instance.GHS06 }}'
        GHS0[7]= '{{ adminform.form.instance.GHS07 }}'
        GHS0[8]= '{{ adminform.form.instance.GHS08 }}'
        GHS0[9]= '{{ adminform.form.instance.GHS09 }}'
        django.jQuery(document).ready(function ($) {
            //console.log('elt '+document.getElementById('id_GHS01'))
            if (document.getElementById('id_GHS01') !== null) {
                for (var i= 1; i<=9; i++) { 
                    //console.log('elt '+document.getElementById('id_GHS0'+i))
                    console.log('elt.checked '+document.getElementById('id_GHS0'+i).checked)
                    if(!document.getElementById('id_GHS0'+i).checked) $('#img_id_GHS0'+i).css('opacity', '0.4');
                    $("#id_GHS0"+i).click(function() {
                        //console.log("ccc"+$(this).val()+'-'+this.id);
                        if(!document.getElementById(this.id).checked) $('#img_'+this.id).css('opacity', '0.4');
                        if(document.getElementById(this.id).checked) $('#img_'+this.id).css('opacity', '1');
                    });
                }
            } else {
                //console.log('what')
                for (var i= 1; i<=9; i++) { 
                    if (GHS0[i]=='False') $('#img_id_GHS0'+i).css('opacity', '0.4');
                }
            }
        });
    </script>
{% endblock %} 

