{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}
    {{ block.super }} 
    <script src="{% static 'aspic2.js' %}"></script>
    <script>
        instance_product_id= {{ adminform.form.instance.product.id }}
        django.jQuery(document).ready(function ($) {
            init_product()
        });
    </script>
{% endblock %} 
