{% extends "admin/change_list.html" %}

{% load i18n admin_urls static admin_list %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
// https://stackoverflow.com/questions/6264823/trying-to-show-hide-the-change-list-filter-in-django-admin
django.jQuery(document).ready(function ($) {
        //$("tr input.action-select").actions();
        $('<div id="show-filters" style="float: right;"><a href="#">Show Filters</a></p>').prependTo('div.actions');
        $('#show-filters').hide();
        $('#changelist-filter h2').html('<a style="color: white;text-transform: none;" id="hide-filters" href="#">Hide Filters</a>');//&rarr;
        $('#show-filters').click(function() {
            $('#changelist-filter').show('fast');
            $('#changelist').addClass('filtered');
            $('#show-filters').hide();
        });
        $('#hide-filters').click(function(){hide_filters()});
	do_hide_filters= true;
        wlh= window.location.href;
	if (wlh.includes('place__code=')) do_hide_filters= false;
	if (wlh.includes('borrow_place__hallway=')) do_hide_filters= false;
	if (wlh.includes('borrow_place__room=')) do_hide_filters= false;
	if (wlh.includes('date_modified__gte=')) do_hide_filters= false;
	if (wlh.includes('date_received__gte=')) do_hide_filters= false;
	if (wlh.includes('complement=')) do_hide_filters= false;
	if (wlh.includes('formula=')) do_hide_filters= false;
	if (wlh.includes('demandeur=')) do_hide_filters= false;
        //if (wlh.slice(wlh.length - 16)=='container_view2/') do_hide_filters= true;
        //if (wlh.slice(wlh.length - 17)=='container_view2/#') do_hide_filters= true;
        //console.log(wlh);
        if (do_hide_filters) hide_filters();//console.log('hide');
    });
function hide_filters() {
    django.jQuery('#changelist-filter').hide('fast');
    django.jQuery('#show-filters').show();
    django.jQuery('#changelist').removeClass('filtered');
}
</script>
{% endblock %}

{% block search %}
{% search_form cl %}
<script>
  django.jQuery('#searchbar').attr("placeholder","{{ search_placeholder }}");
  /*django.jQuery(document).ready(function ($) {
      django.jQuery('#searchbar').before('<a href="/admin/aspic2/container_search/">s</a>') 
  });*/
</script>
{% endblock %}

<!-- ap block pagination paiiiap pagination cl paap endblock pa-->



