{% extends "admin/change_list.html" %}

{% load i18n admin_urls static admin_list %}

{% block search %}
{% search_form cl %}
<script>
  django.jQuery('#searchbar').attr("placeholder","{{ search_placeholder }}");
  django.jQuery(document).ready(function ($) {
      django.jQuery('#searchbar').before('<a href="/admin/aspic2/container_search/">s</a>') 
  });
</script>
{% endblock %}

