{% extends 'admin/change_form.html' %}
{% load static %}

{% block extrahead %}
    {{ block.super }} 
    <script src="{% static 'aspic2.js' %}"></script>
    <script src="{% static 'JsBarcode.all.min.js' %}"></script>
    <script>
        django.jQuery(document).ready(function ($) {
            instance_product_id= {{ adminform.form.instance.product.id }}
            init_product()
            input_id_code= django.jQuery("input#id_code") 
            recycle_codes= {{res_recycle_codes}}
            //console.log(" recycle 0 * 1 : "+recycle_codes[0]+'*'+recycle_codes[1])
            if ("{{ adminform.form.instance.product.id }}"!="" && "{{ adminform.form.instance.code }}"!="None") {
                code= {{ adminform.form.instance.code }}
                //console.log("product id != '' : {{ adminform.form.instance.product.id }}")
                //console.log("container code != '' : "+code)
                JsBarcode("#barcode_container", code, {
                    format: "CODE39", height: 50, fontSize: 13//, displayValue: false
                });
	    } else {
                django.jQuery("input#id_code").val(recycle_codes[0])
                JsBarcode("#barcode_container", recycle_codes[0], {
                    format: "CODE39", height: 50, fontSize: 13
                });
            }
            //$("input#id_code").prop("readonly", true);
            django.jQuery("input#id_code").prop("readonly", true);
        });
        /*function noBarCode() {
            JsBarcode("#barcode_container", 0, {
                format: "CODE39", height: 50, fontSize: 13,lineColor: "#fff"// white
            });
	}*/
    </script>
{% endblock %} 
