{% extends "admin/change_list.html" %}

{% load i18n admin_urls static admin_list %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    var url_string = window.location.href
    //if (url_string.indexOf('/demand/')!=-1) console.log('/demand/') 
    if (url_string.indexOf('/demand/')!=-1) 
    django.jQuery(document).ready(function ($) {
        //console.log('document ready');
        provider= '';
        background_color= '#ffffff';
        var url = new URL(url_string);
        var sort_option = url.searchParams.get("o");
        if (!sort_option) $( "#result_list tr" ).each(function( row, tr) {
            //console.log('cn row'+row);
            if (row>0) $(this).find('th').each (function( column, th) {
               //console.log('cn column:'+column+' text:'+$(th).text());
               if (column==0) {
                   if (provider=='') {
                       provider= $(th).text();
                       //console.log('cn init:'+provider);
                   }
                   if (provider!=$(th).text()) {
                       provider= $(th).text();
                       if (background_color=='#ffffff') background_color= '#eeeeee'; else background_color= '#ffffff';
                   }
               }
            });  
            $(this).children('td, th').css('background-color', background_color);
        }); 
    });
</script>
{% endblock %}

{% block search %}
{% search_form cl %}
<script>django.jQuery('#searchbar').attr("placeholder","Search in provider, demandeur or CAS");</script>
{% endblock %}

