{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} {% endblock %}

{% block content %}
<style>
.sup_aspic2 { font-style: italic; color: rgb(116, 255, 0); }
.sup2_aspic2 { color: rgb(0, 0, 0); }
/*.acro_aspic2 { font-weight: bold; font-style: italic; font-size: 150%; color: #005064; }*/
.acro_aspic2 { font-style: italic; font-size: 150%; color: #005064; }
.acro2_aspic2 { font-style: italic; font-size: 120%; color: #EE621F; }
</style>
<a href="{% url 'admin:index' %}" style="font-size:150%">
ASP
<sup class="sup_aspic2">i</sup>C<sup class="sup2_aspic2">2</sup>
<!--<sup style="font-style: italic; color: rgb(116, 255, 0);">i</sup>C<sup style="color: rgb(0, 0, 0);">2</sup>-->
</a>
<br>
<br>
<!-- Accès aux  Stocks  de  Produits  Chimiques et Commandes -->
<span class="acro_aspic2">A</span><span class="acro2_aspic2">ccès aux </span>
<span class="acro_aspic2">S</span><span class="acro2_aspic2">tocks  de </span>
<span class="acro_aspic2">P</span><span class="acro2_aspic2">rodu
<sup class="sup_aspic2">i</sup>
ts </span>
<span class="acro_aspic2">C</span><span class="acro2_aspic2">himiques et </span>
<span class="acro_aspic2">C</span><span class="acro2_aspic2">ommandes</span>
<br>
<br>
This is a demonstration version of ASPiC2 developped by <a href="https://lcmcp.sorbonne-universite.fr">LCMCP</a> under license GPL v3.<br>
It contains randomly generated data which does not correspond to any real situation.<br>
The storage and borrow places do not correspond to any real place.<br>
The first names used do not correspond to any real team.<br>
Demands, commands and containers do not correspond to any real demands, commands or containers.<br>
However the generic chemicals table is real.<br>
The <a href="https://lcmcp.sorbonne-universite.fr">LCMCP</a> created this table and updates it, including the hazard statements that may change.<br>
By proposing this open source demo version, the <a href="https://lcmcp.sorbonne-universite.fr">LCMCP</a> hopes to find help more easily to audit it and make it more sustainable.<br>
It is a work in progress which cannot be used as is.<br>
If you want to use it, you will need at least to have the skills to use Django and to define real storage and borrow places.<br>
And probably be able to modify Python and JavaScript code to make it fit.<br>
<br>
C'est une version de démonstration de ASPiC2 développée par le <a href="https://lcmcp.sorbonne-universite.fr">LCMCP</a> sous license GPL v3.<br>
Elle contient des données générées aléatoirement qui ne correspondent à aucune situation réelle.<br>
Les lieux de stockage et d'emprunt ne correspondent à aucun lieu réel.<br>
Les prénoms utilisés ne correspondent à aucune équipe réelle.<br>
Les demandes, commandes et conteneurs ne correspondent à aucune demandes, commandes ou conteneurs réelles.<br>
Cependant la table des produits chimiques génériques est réelle.<br>
Le <a href="https://lcmcp.sorbonne-universite.fr">LCMCP</a> a créé cette table et la met à jour, notamment les phrases de risques qui peuvent changer.<br>
En proposant cette version de démonstration libre le <a href="https://lcmcp.sorbonne-universite.fr">LCMCP</a> espère trouver de l'aide plus facilement pour l'auditer et la pérenniser.<br>
C'est un travail en cours d'évolution qui n'est pas utilisable tel quel.<br>
Si vous voulez l'utiliser, il faudra au moins avoir les compétences pour utiliser Django et définir de vrais lieux de stockage et d'emprunt.<br>
Et probablement pouvoir modifier le code Python et Javascript pour l'adapter.<br>
<br>
Version 3.2<br>
<br>
Développed by <a href="https://lcmcp.sorbonne-universite.fr">LCMCP</a> with<br>
<br>
Simon DADOUN : rewrite from PHP5 to Django<br>
Alban POLITI : PHP5 version<br>
Isabelle GÉNOIS : specifications and tests<br>
<br>
{% endblock %}
