{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} {% endblock %}

{% block content %}
<a href="{% url 'admin:index' %}" style="">
ASP<sup style="font-style: italic; color: rgb(116, 255, 0);">i</sup>C<sup style="color: rgb(0, 0, 0);">2</sup>
</a><br>
<!-- Accès aux  Stocks  de  Produits  Chimiques et Commandes -->
 Accès aux  Stocks  de  Produits  Chimiques et Commandes 
<br>
{% endblock %}
