{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}
{% load static %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} {% endblock %}

{% block content %}
<style>
.page_title { font-size: 120%;font-weight: bold; }
.anchor_title { font-size: 110%;font-weight: bold; }
.help_body { color: #000000; }
</style>
<br>
<span class="page_title">Guide de l'utisateur d'ASPiC2 V3</span>
&nbsp;&nbsp;<a href="{% url 'admin:index' %}aspic2/help/"><img src="{% static 'flag_uk.svg' %}" style="height:16px;width:32px;" height="16" width="32" /></a><br>
<br>
<ol>
<li><a href="#Licence">Licence</a></li>
<li><a href="#Quick_description">Description rapide</a></li>
<li><a href="#Importants_rules">Règles importantes</a></li>
<li><a href="#Model_Description">Description du modèle</a></li>
<li><a href="#Interface_Description">Description de l'interface</a></li>
<li><a href="#Search_Container">Rechercher un Conteneur</a></li>
<li><a href="#Borrow_Return_Container">Emprunter et Rendre un Conteneur</a></li>
<li><a href="#Suppress_Restore_Container">Supprimer et Restaurer un Conteneur</a></li>
<li><a href="#Add_new_Demand">Ajouter une nouvelle Demande (pour commander un nouveau conteneur)</a></li>
<li><a href="#Add_new_Container">Ajouter un Conteneur directement</a></li>
<li><a href="#Add_new_Product">Ajouter un nouveau Produit</a></li>
<li><a href="#Command_Demand">Commander une Demande (valider une Demande en Commande)</a></li>
<li><a href="#Receive_Command">Réceptionner une Commande (changer une Commande en Conteneur)</a></li>
</ol>
<br>
<a id="Licence" class="anchor_title">Licence</a><br>
<span class="help_body"><br>
C'est une version de démonstration de ASPiC2 développée par le <a href="https://lcmcp.sorbonne-universite.fr">LCMCP</a> sous license GPL v3.<br>
Elle contient des données générées aléatoirement qui ne correspondent à aucune situation réelle.<br>
Les lieux de stockage et d'emprunt ne correspondent à aucun lieu réel.<br>
Les prénoms utilisés ne correspondent à aucune équipe réelle.<br>
Les demandes, commandes et conteneurs ne correspondent à aucune demandes, commandes ou conteneurs réelles.<br>
Cependant la table des produits chimiques génériques est réelle.<br>
Le <a href="https://lcmcp.sorbonne-universite.fr">LCMCP</a> a créé cette table et la met à jour, notamment les phrases de risques qui peuvent changer.<br>
En proposant cette version de démonstration libre le <a href="https://lcmcp.sorbonne-universite.fr">LCMCP</a> espère trouver de l'aide plus facilement pour l'auditer et la pérenniser.<br>
C'est un travail en cours d'évolution qui n'est pas utilisable tel quel.<br>
Si vous voulez l'utiliser, il faudra au moins avoir les compétences pour utiliser Django et définir de vrais lieux de stockage et d'emprunt.<br>
Et probablement pouvoir modifier le code Python et Javascript pour l'adapter.<br>
<br>
<a id="Quick_description" class="anchor_title">Description rapide</a><br>
<span class="help_body"><br>
ASPiC2 permet de référencer tous les conteneurs de produits chimiques présents au labo.<br>
A chaque conteneur correspond un produit chimique.<br>
Plusieurs conteneurs peuvent donc correspondre à un même produit, par exemple il peut y avoir plusieurs bouteilles d'ethanol.<br>
Chaque conteneur a un code barre, qui est son numéro d'identification unique, par exemple s'il y a 5 bouteilles d'ethanol, elles auront chacune un code barre différent.<br>
Chaque produit chimique a aussi un numéro d'identification unique (le numéro CAS).<br>
Un conteneur peut être sous forme liquide ou solide, avoir un conditionnement en verre, en plastique ou en métal.<br>
Les conteneurs ont un lieu de stockage assigné. <br>
Ils peuvent être empruntés en fonction des besoins. <br>
ASPiC2 permet de rechercher un conteneur, faire des demandes, consulter les demandes et les commandes en cours ou encore de consulter les informations de sécurité concernant les produits associés.<br> 
</span><br>
<a id="Importants_rules" class="anchor_title">Règles importantes</a><br>
<span class="help_body"><br>
Renseigner les différentes informations lors des demandes, réceptionner les commandes et indiquer clairement le numéro associé sur le flacon lorsque ceux-ci sont arrivés.<br>
Rentrer dans ASPIC les conteneurs achetés à la soute et noter clairement le numéro associé sur le flacon.<br>
Noter ce que l’on emprunte, garder dans les labos que ce qui est nécessaire et noter ce que l’on rapporte.<br>
Modifier le lieu de stockage d'un conteneur quand on le déplace.<br>
Supprimer un conteneur dans ASPIC quand il est vide.<br>
N’hésitez pas à demander de l’aide si vous n’êtes pas sûr de ce qu’il faut faire.<br>
</span><br>
<a id="Model_Description" class="anchor_title">Description du modèle</a><br>
<span class="help_body"><br>
Les données d'ASPiC2 sont gérées par une base de données de type SQL.<br>
Cette base données contient une dizaine de tables qui sont liées entre elles.<br>
Les plus importantes sont :<br>
- La table "Product" qui contient les produits chimiques génériques identifié par leur n° CAS<br>
- La table "Demand" qui contient les demandes des utilisateurs qui ont besoin d'un nouveau produit<br>
- La table "Command" qui contient les demandes validées<br>
- La table "Container" qui contient les commandes reçues, identifiés par un code barre unique<br>
</span><br>
<a id="Interface_Description" class="anchor_title">Description de l'interface</a><br>
<span class="help_body"><br>
La plus grande partie de l'interface d'ASPiC2 est générée par le framework Django.<br>
Le menu à gauche liste les tables de la base de données, le petit bouton &lt;&lt; à gauche le fait disparaître.<br>
Cliquez sur une table pour afficher son contenu.<br>
Prenons l'exemple de la table "Container", cliquez sur "Container" affiche la liste des conteneurs.<br>
Au dessus de la liste des conteneurs, il y a une zone de saisie qui permet de rechercher dans plusieurs champs (n° de code barre, n° CAS ...).<br>
Après, il y a une zone de choix avec la liste des actions possibles.<br>
Pour les Containers, vous pouvez par exemple en emprunter (Borrow) ou en rendre (Return).<br>
Pour cela, il faut cocher une case, sélectionner une action puis cliquer sur le bouton "Go".<br>
La table Container a de nombreuses colonnes, si votre écran n'est pas assez large vous ne les verrez pas toutes.<br>
Dans ce cas, on peut faire défiler les colonnes horizontalement en cliquant une fois dans le vide des résultats puis en utilisant les touches droite/gauche (ou avec le doigt sur un écran tactile), certaines souris ou touchpad ont une option de défilement horizontal.<br>
Il y a aussi un ascenseurs horizontal tout en bas (juste avant les numéros de page).<br>
</span><br>
<a id="Search_Container" class="anchor_title">Rechercher un Conteneur</a><br>
<span class="help_body"><br>
En plus de la zone de recherche, la table Container a un formulaire de recherche supplémentaire.<br>
Cliquez sur "Show Filters" à droite pour l'afficher.<br>
Ce formulaire permet de rechercher dans les autres champs : lieu de stockage, lieu d'emprunt (barre et salle), dates de modification, date de réception, complément, formule et demandeur.<br> 
</span><br>
<a id="Borrow_Return_Container" class="anchor_title">Emprunter et Rendre un Conteneur</a><br>
<span class="help_body"><br>
La 2e colonne "STOCK LOC" de la liste des conteneurs, indique "IN" si le conteneur peut être emprunter et sinon elle indique le nom de l'emprunteur et l'endroit où il est emprunté.
Cocher la case du conteneur que vous voulez emprunter, sélectionner l'action "Borrow selected Containers" puis cliquer sur le bouton "Go".<br>
Le formulaire d'emprunt apparaît, renseigner la barre et la salle où vous le stockerez ainsi que votre nom, puis cliquer sur le bouton "Confirm" ; la liste des conteneurs s'affiche à nouveau avec ce message si l'emprunt s'est bien passé :<br>
1 container was successfully borrowed.<br>
Vous pouvez emprunter plusieurs conteneurs en une fois en cochant plusieurs cases, mais le formulaire d'emprunt est le même donc il faut que vous les stockiez au même endroit.<br>
Pareil pour rendre un conteneur, il faut cocher la case du conteneur que vous voulez rendre, sélectionner l'action "Return selected Containers" puis cliquer sur le bouton "Go".<br>
Vous pouvez aussi rendre plusieurs conteneurs en une fois.<br>
</span><br>
<a id="Suppress_Restore_Container" class="anchor_title">Supprimer et Restaurer un Conteneur</a><br>
<span class="help_body"><br>
Quand vous jeter un conteneur, vous devez le supprimer dans ASPiC2 :<br>Cocher la case du conteneur que vous voulez supprimer, sélectionner l'action "Suppress selected Containers" puis cliquer sur le bouton "Go".<br>
Vous pouvez supprimer plusieurs conteneurs en une fois en cochant plusieurs cases.<br>
Si vous trouver un conteneur qui a été supprimé par erreur, vous pouvez le restaurer dans ASPiC2 : <br>
Cliquez sur la table "Suppressed", cocher la case du conteneur que vous voulez restaurer, sélectionner l'action "Restore selected Containers" puis cliquer sur le bouton "Go".<br>
Vous pouvez restaurer plusieurs conteneurs en une fois en cochant plusieurs cases.<br>
</span><br>
<a id="Add_new_Demand" class="anchor_title">Ajouter une nouvelle Demande (pour commander un nouveau conteneur)</a><br>
<span class="help_body"><br>
Pour faire une nouvelle demande, cliquer sur le bouton "+ Add" devant la table "Demand".<br>
Choisir un produit en tapant dans la zone de saisie, son nom, son n° CAS ou sa formule, puis en le sélectionnant parmi les résultats proposés.<br>
Son n° CAS, son nom et sa formule sont alors rappelés en dessous.<br>
Si le produit que vous voulez n'existe pas, ajouter ce nouveau produit.<br>
Puis remplir les autres champs obligatoires.<br>
Selon la dangerosité du produit certains lieux de stockage (Place) seront grisés.<br>
Puis cliquer sur le bouton "Save".<br>
</span><br>
<a id="Add_new_Container" class="anchor_title">Ajouter un Conteneur directement</a><br>
<span class="help_body"><br>
Si vous devez ajouter un conteneur directement sans passer par les étapes de commande, cliquer sur le bouton "+ Add" devant la table "Container".<br>
</span><br>
<a id="Add_new_Product" class="anchor_title">Ajouter un nouveau Produit</a><br>
<span class="help_body"><br>
Si vous devez ajouter un nouveau produit, cliquer sur le bouton "+ Add" devant la table "Product".<br>
</span><br>
<a id="Command_Demand" class="anchor_title">Commander une Demande (valider une Demande en Commande)</a><br>
<span class="help_body"><br>
Pour valider une demande, cliquer sur la table "Demand", cocher la case de la demande que vous voulez valider, sélectionner l'action "Command selected Demands" puis cliquer sur le bouton "Go".<br>
Le formulaire de commande apparaît, renseigner le numéro de bon de commande, puis cliquer sur le bouton "Confirm" ; la liste des demandes s'affiche à nouveau avec ce message si la demande est bien passée à l'état de commande :<br>
1 demands was successfully commanded.<br>
Vous pouvez commander plusieurs demandes en une fois en cochant plusieurs cases, mais le formulaire de commande est le même donc les commandes auront le même numéro de bon de commande.<br> 
</span><br>
<a id="Receive_Command" class="anchor_title">Réceptionner une Commande (changer une Commande en Conteneur)</a><br>
<span class="help_body"><br>
Pour réceptionner une commande, cliquer sur la table "Command", cocher la case de la commande que vous voulez réceptionner, sélectionner l'action "Receive selected Command" puis cliquer sur le bouton "Go".<br>
Le formulaire de réception apparaît, il affiche le code barre qui sera affecté au nouveau conteneur.<br>
Si la quantité est > 1 il y aura autant de conteneurs que de quantité et vous pourrez en décocher pour une réception partielle.<br>
Puis cliquer sur le bouton "Confirm" ; la liste des commandes s'affiche à nouveau avec ce message si la commande a bien été réceptionnée :<br>
Command partially received, 2 / 5 container(s) created. (Dans le cas d'une réception partielle)<br>
</span><br>
<br>
<br>
<br>
{% endblock %}
