{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}
{% load static %}

{% block extrahead %}
    {{ block.super }} 
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js'%}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js'%}"></script>
{% endblock %} 

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} {% endblock %}

{% block content %}
<style>
.2eTD { text-align: right; margin-right: 1em; } 
.sup_aspic2 { font-style: italic; color: rgb(116, 255, 0); }
</style>
<span style="font-size:135%">Dashboard</span>  
<br>
<br>
<table>
<tr><td>Availables recyclables codes</td><td align="right"><span id="num_recyclables_codes"></span><br></td></tr>
<tr><td>Containers</td><td align="right"><span id="Count_Container_Base"></span><br></td></tr>
<tr><td>Suppressed Containers</td><td align="right"><span id="Count_Container_Suppr"></span><br></td></tr>
<tr><td>Products</td><td align="right"><span id="Count_Product"></span><br></td></tr>
<tr><td>Demands</td><td align="right"><span id="Count_Demand"></span><br></td></tr>
<tr><td>Commands</td><td align="right"><span id="Count_Command"></span><br></td></tr>
<tr><td>Distinct products in stock</td><td align="right"><span id="Count_Container_Prod_Distinct"></span><br></td></tr>
<tr><td>CMR</td><td align="right"><span id="Count_Container_CMR"></span><br></td></tr>
<tr><td>Tplus</td><td align="right"><span id="Count_Container_Tplus"></span><br></td></tr>
<tr><td>Explosives</td><td align="right"><span id="Count_Container_Explod"></span><br></td></tr>
<tr><td>Flammables</td><td align="right"><span id="Count_Container_Flame"></span><br></td></tr>
<tr><td></td><td align="right"><span id=""></span><br></td></tr>
<tr><td>Purchases year {{lastyear}}</td><td align="right"><span id="Sum_Container_All_LastYear"></span><br></td></tr>
<tr><td>Purchases semester 1</td><td align="right"><span id="Sum_Container_All_Sem1"></span><br></td></tr>
<tr><td>Purchases semester 2</td><td align="right"><span id="Sum_Container_All_Sem2"></span><br></td></tr>
</table>
<br>
<br>
    <script>
        django.jQuery(document).ready(function ($) {
            recycle_codes= {{recycle_codes}};
            Count_Container_Base= {{Count_Container_Base}};
            Count_Container_Suppr= {{Count_Container_Suppr}};
            Count_Product= {{Count_Product}};
            Count_Demand= {{Count_Demand}};
            Count_Command= {{Count_Command}};
            Count_Container_Prod_Distinct= {{Count_Container_Prod_Distinct}};
            Count_Container_CMR= {{Count_Container_CMR}};
            Count_Container_Tplus= {{Count_Container_Tplus}};
            Count_Container_Flame= {{Count_Container_Flame}};
            Count_Container_Explod= {{Count_Container_Explod}};
            Sum_Container_All_LastYear= {{Sum_Container_All_LastYear}};
            Sum_Container_All_Sem1= {{Sum_Container_All_Sem1}};
            Sum_Container_All_Sem2= {{Sum_Container_All_Sem2}};
            django.jQuery("span#num_recyclables_codes").html(recycle_codes.length);
            django.jQuery("span#Count_Container_Base").html(Count_Container_Base);
            django.jQuery("span#Count_Container_Suppr").html(Count_Container_Suppr);
            django.jQuery("span#Count_Product").html(Count_Product);
            django.jQuery("span#Count_Demand").html(Count_Demand);
            django.jQuery("span#Count_Command").html(Count_Command);
            django.jQuery("span#Count_Container_Prod_Distinct").html(Count_Container_Prod_Distinct);
            django.jQuery("span#Count_Container_CMR").html(Count_Container_CMR);
            django.jQuery("span#Count_Container_Tplus").html(Count_Container_Tplus);
            django.jQuery("span#Count_Container_Explod").html(Count_Container_Explod);
            django.jQuery("span#Count_Container_Flame").html(Count_Container_Flame);
            django.jQuery("span#Sum_Container_All_LastYear").html(Sum_Container_All_LastYear+' &euro;');
            django.jQuery("span#Sum_Container_All_Sem1").html(Sum_Container_All_Sem1+' &euro;');
            django.jQuery("span#Sum_Container_All_Sem2").html(Sum_Container_All_Sem2+' &euro;');
        });
    </script>
<br>
<br>
<br>
{% endblock %}
