{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation
  delete-selected-confirmation{% endblock %}

{% block content %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js'%}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js'%}"></script>

  Are you sure you want to borrow those containers ? :<br>
  <br>
  <script>in_stock= true;</script>
  {% for object in queryset.all %}
    <span style="color: rgb(255, 0, 0);"> > </span>
    <span style="">{{ object.product }} , {{ object.product.cas_number }} , Storage place {{ object.place }}</span> <br>
    <script>object_in_stock= '{{ object.in_stock }}'; if (object_in_stock== 'False') in_stock= false;</script>
  {% endfor %}
  <script>if (!in_stock) console.log('not in stock');</script>
  <br>
  <form action="" method="post">{% csrf_token %}
    {% for obj in queryset.all %}
      <input type="hidden" name="_selected_action" value="{{ obj.pk|unlocalize }}"/>
    {% endfor %}
    Borrow place <br>
    <select name ="selecthallway" id="selecthallway" required><option value="" disabled selected hidden>Hallway</option></select>&nbsp;&nbsp;&nbsp;
    <select name ="selectroom" id="selectroom" required><option value="" disabled selected hidden>Room</option></select>
    <br><br>
    Borrower <input type="text" name="borrower" id="borrower" value="" size="15" required>
    <br><br>
    <input type="hidden" name="action" value="borrow_action"/>
    <input type="submit" name="borrow_action" value="Confirm"/>
    <a href="#" onclick="window.history.back(); return false;" class="button cancel-link">{% trans "No, take me back" %}</a>
  </form>

  <style>select:invalid { color: gray; }</style>
  <script>
    var Borrow_place_json = {% autoescape off %}{{ Borrow_place_json }}{% endautoescape %};

    Place_array= new Array();
    //Place_array['Hallway']= ['Room'];//??
    //django.jQuery("#selectroom").append('<option>'+ Place_array['Hallway'] +'</option>');
    Borrow_place_json.forEach(function(element) {
      if(typeof Place_array[element['fields']['hallway']] === 'undefined') Place_array[element['fields']['hallway']]= new Array();
      //if(!Place_array[element['fields']['hallway']].includes(element['fields']['room'])) Place_array[element['fields']['hallway']].push(element['fields']['room']); 
      Place_array[element['fields']['hallway']].push(element['fields']['room']); 
    });

    Object.keys(Place_array).forEach(function(key) {// ', value: ' + sArray[key] 
      django.jQuery("#selecthallway").append('<option>'+ key +'</option>');
    });

    django.jQuery(document).ready(function(){
      django.jQuery('select#selecthallway').change(function () {
        var optionSelected = django.jQuery(this).find("option:selected");
        var hallway_name   = optionSelected.text();//.val();
        django.jQuery("#selectroom option").remove();
        Place_array[hallway_name].forEach(function(element) {
          django.jQuery("#selectroom").append('<option>'+ element +'</option>');
        });
      });
    });
  </script>

{% endblock %}
