{% extends "admin/base_site.html" %}
{% load i18n l10n %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation
  delete-selected-confirmation{% endblock %}

{% block content %}

Are you sure you want to command those demands ? :<br>
<br>
{% for object in queryset.all %}
  <span style="color: rgb(255, 0, 0);"> > </span>
  <span style="">{{ object.provider }} , {{ object.demandeur }} , {{ object.provider.name }}</span><br> 
{% endfor %}
<br>
<form action="" method="post">{% csrf_token %}
    {% for obj in queryset.all %}
      <input type="hidden" name="_selected_action" value="{{ obj.pk|unlocalize }}"/>
    {% endfor %}
    Numéro de bon de commande : 
    <input type="text" name="num_order" value="" size="9"/>
    <div>
    <input type="hidden" name="action" value="command_action" />
    <input type="hidden" name="post" value="yes" />
    <input type="submit" name="command_action" value="Confirm" />
    <a href="#" onclick="window.history.back(); return false;" class="button cancel-link">{% trans "No, take me back" %}</a>
    </div>
</form>

{% endblock %}

