{% extends "admin/base_site.html" %}
{% load i18n l10n %}
{% load static %}

{% block extrahead %}
    {{ block.super }} 
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js'%}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js'%}"></script>

    <script src="{% static 'JsBarcode.all.min.js' %}"></script>
    <script>
        django.jQuery(document).ready(function ($) {
            recycle_codes= {{recycle_codes}};
            max_copy= {{max_copy}};
            icheck= 1;
            while (icheck <= max_copy) {
                //console.log("-"+icheck.toString()+":"+recycle_codes[icheck]+"-");
                django.jQuery("span#container_number"+icheck).html(recycle_codes[icheck]);
                django.jQuery("#checkbox"+icheck).val(recycle_codes[icheck]);
                JsBarcode("#barcode_container_checkbox"+icheck, recycle_codes[icheck], {
                    format: "CODE39", height: 50, fontSize: 13
                });
                $("#checkbox"+icheck).click(function() {
                    //console.log("val / id / checked : "+$(this).val()+' / '+this.id+' / '+document.getElementById(this.id).checked);
                    if(!document.getElementById(this.id).checked) $('#barcode_container_'+this.id).css('opacity', '0.4');
                    if(document.getElementById(this.id).checked) $('#barcode_container_'+this.id).css('opacity', '1');
                });
		    if (icheck>1) $('#barcode_container_checkbox'+icheck).css('opacity', '0.4');
                icheck++;
            }
        });
    </script>
{% endblock %} 

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation
  delete-selected-confirmation{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}
    {% for obj in queryset.all %}
      <input type="hidden" name="_selected_action" value="{{ obj.pk|unlocalize }}"/>
    {% endfor %}
    <input type="hidden" name="action" value="copy_container" />
    <input type="hidden" name="post" value="yes" />
Are you sure you want to copy this container ? :<br>
<span style="color:#666;">(proper codebar and number should be stick on containers)</span><br>
<br>
    <span style="color:#666;">Order number :</span> {{ queryset.first.num_order }}<br> 
    <span style="color:#666;">Product : </span> {{ queryset.first.product }}<br> 
    <span style="color:#666;">CAS number : </span> {{ queryset.first.product.cas_number }}<br> 
    <span style="color:#666;">Storage place :</span> {{ queryset.first.place }}<br>
    <span style="color:#666;">Quantity :</span> {{ queryset.first.quantity }}<br>
<br>
Check containers for multiple copies :<br>
<br>
{% with ''|center:max_copy as range %}
{% for i in range %}
<input type="checkbox" value="" id="checkbox{{ forloop.counter }}" name="checkbox{{ forloop.counter }}"{% if forloop.first %} checked {% endif %}>
    <span style="color:#666;">Container number : </span> <span id="container_number{{ forloop.counter }}"> </span><br>
    <svg id="barcode_container_checkbox{{ forloop.counter }}"></svg><br>
    {% if forloop.first %} 
    <input type="submit" name="copy_container" value="Confirm" />
    <a href="#" onclick="window.history.back(); return false;" class="button cancel-link">{% trans "No, take me back" %}</a>
    <br><br>
    {% endif %}
{% endfor %}
{% endwith %}
<br>
    <input type="submit" name="copy_container" value="Confirm" />
    <a href="#" onclick="window.history.back(); return false;" class="button cancel-link">{% trans "No, take me back" %}</a>
</form>

{% endblock %}
