{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}
{% load static %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} {% endblock %}

{% block content %}
<style>
.page_title { font-size: 120%;font-weight: bold; }
.anchor_title { font-size: 110%;font-weight: bold; }
.help_body { color: #000000; }
</style>
<br>
<span class="page_title">ASPiC2 version 3 User Guide</span>
&nbsp;&nbsp;<a href="{% url 'admin:index' %}aspic2/aide/"><img src="{% static 'flag_fr.svg' %}" style="height:16px;width:32px;" height="16" width="32" /></a><br>
<br>
<ol>
<li><a href="#Licence">Licence</a></li>
<li><a href="#Quick_description">Quick description</a></li>
<li><a href="#Importants_rules">Importants rules</a></li>
<li><a href="#Model_Description">Model description</a></li>
<li><a href="#Interface_Description">Interface description</a></li>
<li><a href="#Search_Container">Search for a Container</a></li>
<li><a href="#Borrow_Return_Container">Borrow and Return a Container</a></li>
<li><a href="#Suppress_Restore_Container">Suppress and Restore a Container</a></li>
<li><a href="#Add_new_Demand">Add a new Demand (to order a new container)</a></li>
<li><a href="#Add_new_Container">Add a new Container directly</a></li>
<li><a href="#Add_new_Product">Add a new Product</a></li>
<li><a href="#Command_Demand">Command a Demand (change a Demand to a Command)</a></li>
<li><a href="#Receive_Command">Receive a Command (change a Command to a Container)</a></li>
</ol>
<br>
<a id="Licence" class="anchor_title">Licence</a><br>
<span class="help_body"><br>
This is a demonstration version of ASPiC2 developped by <a href="https://lcmcp.sorbonne-universite.fr">LCMCP</a> under license GPL v3.<br>
It contains randomly generated data which does not correspond to any real situation.<br>
The storage and borrow places do not correspond to any real place.<br>
The first names used do not correspond to any real team.<br>
Demands, commands and containers do not correspond to any real demands, commands or containers.<br>
However the generic chemicals table is real.<br>
The <a href="https://lcmcp.sorbonne-universite.fr">LCMCP</a> created this table and updates it, including the hazard statements that may change.<br>
By proposing this open source demo version, the <a href="https://lcmcp.sorbonne-universite.fr">LCMCP</a> hopes to find help more easily to audit it and make it more sustainable.<br>
It is a work in progress which cannot be used as is.<br>
If you want to use it, you will need at least to have the skills to use Django and to define real storage and borrow places.<br>
And probably be able to modify Python and JavaScript code to make it fit.<br>
<br>
<a id="Quick_description" class="anchor_title">Quick description</a><br>
<span class="help_body"><br>
ASPiC2 makes it possible to reference all the chemical product containers present in the lab.<br>
Each container has a corresponding chemical product.<br>
Several containers can therefore correspond to the same product, for example there may be several bottles of ethanol.<br>
Each container has a bar code, which is its unique identification number, for example if there are 5 bottles of ethanol they will each have a different bar code.<br>
Each product also has a unique identification number (the CAS number).<br>
A container can be in liquid or solid form, have glass, plastic or metal conditioning.<br>
The containers have an assigned storage location.<br>
They can be borrowed as needed.<br>
ASPiC2 allows you to search for a container, place demands, consult current demands and commands or even consult security information concerning associated products.<br> 
</span><br>
<a id="Importants_rules" class="anchor_title">Importants rules</a><br>
<span class="help_body"><br>
Fill in the various information when order a new container, receive the commands and clearly indicate the associated number on the bottle when they have arrived.<br>
Enter the containers purchased in the hold into ASPiC2 and clearly note the associated number on the bottle.<br>
Note what you borrow, keep in the labs only what is necessary and note what you return.<br>
Change the storage location of a container when it is moved.<br>
Suppress a container in ASPIC when it is empty.<br>
Don't hesitate to ask for help if you are not sure what to do.<br>
</span><br>
<a id="Model_Description" class="anchor_title">Model description</a><br>
<span class="help_body"><br>
ASPiC2 data are recorded by an SQL type database.<br>
This database contains ten tables which are linked together.<br>
The most important are:<br>
- The "Product" table which contains the chemicals product identified by their CAS number<br>
- The "Demand" table which contains the demands of users who need a new product<br>
- The "Command" table which contains the validated demands<br>
- The "Container" table which contains the commands received, defined by a unique bar code<br>
</span><br>
<a id="Interface_Description" class="anchor_title">Interface description</a><br>
<span class="help_body"><br>
Most of the ASPiC2 interface is generated by the Django framework.<br>
The menu on the left lists the tables of the database, the small button &lt;&lt; on the left makes it disappear.<br>
Click on a table to display its content.<br>
Take the example of the "Container" table, clicking on "Container" displays the list of containers.<br>
Above the list of containers, there is an input zone which allows you to search in several fields (bar code number, CAS number ...).<br>
After that, there is a choice area with the list of possible actions.<br>
For Containers, you can for example Borrow or Return.<br>
To do this, you must check a box, select an action then click on the "Go" button.<br>
The Container table has many columns, if your screen is not large enough you will not see all of them.<br>
In this case, the columns can be scrolled horizontally by clicking once in the blank of the results then by using the right / left keys (or with the finger on a touch screen), some touchbar or mouse have a horizontal scroll option.<br>
There is also a horizontal scroll all the way down (just before the page numbers).<br>
</span><br>
<a id="Search_Container" class="anchor_title">Search for a Container</a><br>
<span class="help_body"><br>
In addition to the search box, the Container table has an additional search form.<br>
Click on "Show Filters" on the right to display it.<br>
This form allows you to search in the other fields: places, borrow places (hallway and room), modification dates, reception date, supplement, formula and demandeur.<br> 
</span><br>
<a id="Borrow_Return_Container" class="anchor_title">Borrow and Return a Container</a><br>
<span class="help_body"><br>
The 2nd column "STOCK LOC" of the list of containers, indicates "IN" if the container can be borrowed and otherwise it indicates the name of the borrower and the place where it is borrowed.<br>
Check the box of the container you want to borrow, select the "Borrow selected Containers" action then click on the "Go" button.<br>
The borrowing form appears, fill in the hallway and the room where you will store it as well as your name, then click on the "Confirm" button; the list of containers is displayed again with this message if the borrow went well:<br>
1 container was successfully borrowed.<br>
You can borrow multiple containers at once by checking multiple boxes, but the borrowing form is the same so you need to store them in the same place.<br>
The same to return a container, you must check the box of the container you want to return, select the "Return selected Containers" action then click on the "Go" button.<br>
You can also return multiple containers at once.<br>
</span><br>
<a id="Suppress_Restore_Container" class="anchor_title">Suppress and Restore Container</a><br>
<span class="help_body"><br>
When you throw away a container, you have to suppress it in ASPiC2:<br>
Check the box of the container you want to suppress, select the "Suppress selected Containers" action then click on the "Go" button.<br>
You can suppress multiple containers at once by checking multiple boxes.<br>
If you find a container that was suppress by mistake, you can restore it in ASPiC2:<br>
Click on the "Suppressed" table, check the box of the container you want to restore, select the "Restore selected Containers" action then click on the "Go" button.<br>
You can restore multiple containers at once by checking multiple boxes.<br>
</span><br>
<a id="Add_new_Demand" class="anchor_title">Add a new Demand (to order a new container)</a><br>
<span class="help_body"><br>
To make a new demand, click on the "+ Add" button in front of the "Demand" table.<br>
Choose a product by entering its name, CAS number or formula in the edit box, then selecting it from the results displayed.<br>
Its CAS number, name and formula are then redisplayed below.<br>
If the product you want does not exist, add this new product.<br>
Then fill in the other mandatory fields.<br>
Depending on the dangerousness of the product, certain storage places (Places) will be grayed out.<br>
Then click on the "Save" button.<br>
</span><br>
<a id="Add_new_Container" class="anchor_title">Add a new Container directly</a><br>
<span class="help_body"><br>
If you need to add a container directly without going through the ordering steps, click on the "+ Add" button in front of the "Container" table.<br>
</span><br>
<a id="Add_new_Product" class="anchor_title">Add a new Product</a><br>
<span class="help_body"><br>
If you need to add a new product, click on the "+ Add" button in front of the "Product" table.<br>
</span><br>
<a id="Command_Demand" class="anchor_title">Command a Demand (validate a Demand to a Command)</a><br>
<span class="help_body"><br>
To validate a demand, click on the "Demand" table, check the box of the demand you want to validate, select the "Command selected Demands" action then click on the "Go" button.<br>
The commanding form appears, enter the "Numéro de bon de commande", then click on the "Confirm" button; the list of demands is displayed again with this message if the demand has been commanded :<br>
1 demands was successfully commanded.<br>
You can command multiple demands at once by checking multiple boxes, but the commanding form is the same so all commands will have the same "Numéro de bon de commande".<br> 
</span><br>
<a id="Receive_Command" class="anchor_title">Receive a Command (change a Command to a Container)</a><br>
<span class="help_body"><br>
To receive a command, click on the "Command" table, check the box of the command you want to receive, select the "Receive selected Command" action then click on the "Go" button.<br>
The receiving form appears, it displays the bar code that will be assigned to the new container.<br>
If the quantity is > 1 there will be as many containers as there are quantity and you can uncheck some for partial reception.<br>
Then click on the "Confirm" button; the list of commands is displayed again with this message if the command has been received:<br>
Command partially received, 2/5 container (s) created. (In the case of partial reception)<br>
</span><br>
<br>
<br>
<br>
{% endblock %}
