{% extends "admin/base_site.html" %}
{% load i18n l10n %}
{% load static %}

{% block extrahead %}
    {{ block.super }} 
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js'%}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js'%}"></script>

    <script src="{% static 'JsBarcode.all.min.js' %}"></script>
    <script>
        django.jQuery(document).ready(function ($) {
            next_codes= {{recycle_codes}};
            next_codes_length= next_codes.length;
            //console.log("next_codes.length= "+next_codes_length+"-");
            for (new_code=next_codes.length; new_code<{{queryset.first.quantity}}; new_code++) {
                add_new_code= {{max_code}} + new_code +1
                //console.log("add_new_code: "+add_new_code.toString()+"-");
                next_codes[new_code]= add_new_code;
            }
            icheck= 1;
            while (icheck <= {{queryset.first.quantity}}) {
                //console.log("-"+icheck.toString()+":"+next_codes[icheck-1]+"-");
                django.jQuery("span#container_number"+icheck).html(next_codes[icheck-1]);
                django.jQuery("#checkbox"+icheck).val(next_codes[icheck-1]);
                JsBarcode("#barcode_container_checkbox"+icheck, next_codes[icheck-1], {
                    format: "CODE39", height: 50, fontSize: 13
                });
                $("#checkbox"+icheck).click(function() {
                    //console.log("val / id / checked : "+$(this).val()+' / '+this.id+' / '+document.getElementById(this.id).checked);
                    if(!document.getElementById(this.id).checked) $('#barcode_container_'+this.id).css('opacity', '0.4');
                    if(document.getElementById(this.id).checked) $('#barcode_container_'+this.id).css('opacity', '1');
                });
                icheck++;
            }
        });
    </script>
{% endblock %} 

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation
  delete-selected-confirmation{% endblock %}

{% block content %}

<form action="" method="post">{% csrf_token %}
    {% for obj in queryset.all %}
      <input type="hidden" name="_selected_action" value="{{ obj.pk|unlocalize }}"/>
    {% endfor %}
    <input type="hidden" name="action" value="receive_action" />
    <input type="hidden" name="post" value="yes" />
Are you sure you want to receive this command ? :<br>
<span style="color:#666;">(proper codebar and number should be stick on containers)</span><br>
<br>
    <span style="color:#666;">Order number :</span> {{ queryset.first.num_order }}<br> 
    <span style="color:#666;">Product : </span> {{ queryset.first.product }}<br> 
    <span style="color:#666;">CAS number : </span> {{ queryset.first.product.cas_number }}<br> 
    <span style="color:#666;">Storage place :</span> {{ queryset.first.place }}<br>
    <span style="color:#666;">Quantity :</span> {{ queryset.first.quantity }}<br>
<br>
Uncheck containers for partial reception :<br>
<br>
{% with ''|center:queryset.first.quantity as range %}
{% for i in range %}
    <input type="checkbox" value="" id="checkbox{{ forloop.counter }}" name="checkbox{{ forloop.counter }}" checked>
    <span style="color:#666;">Container number : </span> <span id="container_number{{ forloop.counter }}"> </span><br>
    <svg id="barcode_container_checkbox{{ forloop.counter }}"></svg><br>
{% endfor %}
{% endwith %}
<br>
    <input type="submit" name="receive_action" value="Confirm" />
    <a href="#" onclick="window.history.back(); return false;" class="button cancel-link">{% trans "No, take me back" %}</a>
</form>

{% endblock %}
